.footer{
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    right: 0;
    width: 20vw;
    min-height: 22vh;
    max-height: 210px;
}

.footer > * {
    position: absolute;
    bottom: 0;
}

.footer video{
    width: 50%;
}

.footer video{
    left: 0;
    bottom: -20%;
}

.footer img{
    left: 30%;
    width: 70%;
}

.bulle{
    display: flex;
    flex-direction: column;
    top: 0;
    right: 10px;
    width: 60%;
}

.bulle img{
    width: 100%;
}

.midBulle{
    height: 7%;
}

.text{
    position: absolute;
    top: 11%;
    left: 9%;
    width: max-content;
    font-weight: 600;
    font-size: 0.9vw;
}


@media (max-width: 1300px) {
    .footer{
        width: 23vw;
        height: 23vh;
    }
    .text{
        font-size: 1vw;
    }
  }

@media (max-width: 1166px) {
    .bulle{
        top: 10%;
    }
  }

@media (max-width: 1060px) {
    .bulle{
        top: 20%;
    }
}

@media (max-width: 975px) {
    .footer{
        width: 28vw;
        height: 28vh;
    }
    .text{
        font-size: 1.2vw;
    }
}

@media (max-width: 870px) {
    .bulle{
        top: 30%;
    }
  }

  @media (max-width: 770px) {
    .bulle{
        top: 40%;
    }
    .text{
        top: 10%;
        left: 8%;
        font-size: 1.3vw;
    }
  }

  @media (max-width: 650px) {
    .footer{
        width: 45vw;
        height: 27vh;
    }
    .bulle{
        top: 0%;
    }
    .text{
        font-size: 2.1vw;
    }
  }


  @media (max-width: 577px) {
    .bulle{
        top: 20%;
    }
  }

  @media (max-width: 514px) {
    .bulle{
        top: 35%;
    }
  }

  @media (max-width: 446px) {
    .footer{
        height: 25vh;
        width: 60vw;
    }
    .bulle{
        top: 10%;
    }
    .text{
        font-size: 2.8vw;
    }
  }

  @media (max-width: 391px) {
    .bulle{
        top: 20%;
    }
  }

  @media (max-width: 342px) {
    .footer{
        height: 25vh;
        width: 80vw;
    }
    .bulle{
        top: 17%;
    }
    .text{
        font-size: 3.6vw;
    }
  }

  @media (max-width: 272px) {
    .bulle{
        top: 33%;
    }
  }