section{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.cardList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}

.card{
    display: flex;
    justify-content: center;
    width: 20%;
    min-width: 260px;
}

.card img{
    width: 90%;
}