.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(58,44,31,255);
    margin: 0px 20px 0 20px;
    border-radius: 2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 7px 40px;
    height: 100px;
    opacity: 1;
}

.header img{
    height: 100%;
}

.header .sameSize{
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;
}

.header .sameSize img{
    height: 100%;
}

.header .sameSize input{
    border-radius: 15px;
    font-size: 17px;
    padding-left: 5px;
    padding: 4px 6px 4px 8px;
    margin-left: auto;
    background-color: #e7d4a9;
}


@media (max-width: 750px) {
    .header{
        justify-content: center;
        padding-left: 0px;
    }
    .header img{
        margin-right: auto;
    }
    #blizzard_logo{
        width: 0px;
    }
    .header .sameSize{
        width: 0%;
    }
    .header .sameSize input{
        width: 100%;
    }

    .header #blockInput{
        width: 40%;
        margin-left: auto;
    }
  }

  @media (max-width: 555px) {
    .header{
        justify-content: start;
        padding-left: 0px;
    }
    .header img{
        margin-right: 0px;
    }
    .header #blockInput{
        min-width: 186px;
    }
  }

  @media (max-width: 555px) {
    .header{
        height: 60px;
    }
  }

  @media (max-width: 350px) {
    .header #blockInput{
        min-width: 140px;
    }
  }

  @media (max-width: 307px) {
    .header #blockInput{
        width: 77px;
        min-width: 77px;
    }
  }